
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the home page of the MVC Demo</h2>
<h3>It is fairly simple but hopefully demonstrates some basic features of ASP.Net MVC</h3>
<hr />
<div class="comment-text">
    Notice the URL, if no additional route data is supplied after 'www.domainname.com' we are directed to the home/index page - this was set in our RouteConfig.cs file and is the default path
    <br /><br />
    -navigate over to the about page and notice the structure of the URL.
</div>
